<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <!-- Enable Windows Authentication when deploying to IIS. For IIS Express, Windows Authentication is set in the project property page -->
        <!--<windowsAuthentication enabled="true"/>-->
        <!--IIS Express-->
        <!--<location path="WinAuthService">
          <system.webServer>
            <security>
              <authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
              </authentication>
            </security>
          </system.webServer>
        </location>-->
      </authentication>
    </security>
  </system.webServer>
</configuration>